<!-- Start Error Area -->
<section class="error-area">
    <div class="container">
        <div class="error-content">
            <img src="assets/img/loading.gif" alt="error">
            <h4 class="text-white">Page Loading ...</h4>
            <!-- <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p> -->
            <!-- <a routerLink="/" class="btn btn-primary">Go to Home</a> -->
        </div>
    </div>
</section>
<!-- End Error Area -->
