<!-- Start Main Banner Area -->
<div class="hero-banner">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-banner-content">
                    <h2>Easy Airtime Topup & Bill payments leading platform.</h2>
                    <p>ML today are able to supply needful of help, information,
                        and positive experience of maintaining intimacy with customers.
                        Eventually, chatbot ideas bring a pleasant experience of all these
                        qualities into the conversation.
                    </p>
                    <div class="btn-box">
                        <a routerLink="/contact" class="btn btn-primary">Schedule a Demo</a>
                        <a routerLink="/contact" class="optional-btn">Get Started Free</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <!-- <div class="hero-banner-image">
                    <img src="assets/img/banner-image.png" class="wow zoomInUp" data-wow-delay="1s" alt="image">
                </div> -->

                    <div class="card">
                        <div class="card-header">
                            Prepaid | Auto Operator Detector
                        </div>
                        <div class="card-body">
                            <!-- <blockquote class="blockquote mb-0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote> -->

                            <form [formGroup]="airtimeForm" (ngSubmit)="topupFormSubmit(airtimeForm.value)">

                                <div class="form-row">
                                    <div class="col">
                                        <input type="text" class="form-control" formControlName="recipientNumber"
                                            placeholder="Enter the 10 digit recipient number">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" formControlName="description"
                                            placeholder="Enter account description (eg Gift)">
                                    </div>
                                    <div class="col">
                                        <input type="number" class="form-control" formControlName="amount"
                                            placeholder="Minimum (1.0) & Maximum (50) Amount">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm mt-2">Recharge</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="shape-img2"><img src="assets/img/shape/shape2.svg" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape-img5"><img src="assets/img/shape/shape5.svg" alt="image"></div>
    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot3.png" alt="image"></div>
</div>
<!-- End Main Banner Area -->

<!-- Start Featured Solutions Area -->
<section class="featured-solutions-area ptb-110">
    <div class="container">
        <div class="section-title">
            <h2>Our Featured Solutions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-solutions-box">
                    <div class="icon">
                        <img src="assets/img/icon1.png" alt="image">
                    </div>
                    <h3><a routerLink="/service-details">Robotic Automation</a></h3>
                    <p>Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Ut
                        enim ad minim veniam.</p>
                    <a routerLink="/service-details" class="learn-more-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-featured-solutions-box">
                    <div class="icon">
                        <img src="assets/img/icon2.png" alt="image">
                    </div>
                    <h3><a routerLink="/service-details">Machine Learning</a></h3>
                    <p>Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Ut
                        enim ad minim veniam.</p>
                    <a routerLink="/service-details" class="learn-more-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-featured-solutions-box">
                    <div class="icon">
                        <img src="assets/img/icon3.png" alt="image">
                    </div>
                    <h3><a routerLink="/service-details">Cognitive Engagement</a></h3>
                    <p>Lorem ipsum dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Ut
                        enim ad minim veniam.</p>
                    <a routerLink="/service-details" class="learn-more-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img2"><img src="assets/img/shape/shape2.svg" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape-img5"><img src="assets/img/shape/shape5.svg" alt="image"></div>
    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot3.png" alt="image"></div>
</section>
<!-- End Featured Solutions Area -->

<!-- Start About Area -->
<section class="about-area pt-0 ptb-110">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="assets/img/about/about3.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>Engaging New Audiences through Smart Approach</h2>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use
                        a passage.</p>
                    <ul class="features-list">
                        <li><span><i class="flaticon-tick"></i> Classification</span></li>
                        <li><span><i class="flaticon-tick"></i> Examples</span></li>
                        <li><span><i class="flaticon-tick"></i> Extensions</span></li>
                        <li><span><i class="flaticon-tick"></i> Extraction</span></li>
                        <li><span><i class="flaticon-tick"></i> Selection</span></li>
                    </ul>
                    <a routerLink="/" class="btn btn-primary">Discover More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img1"><img src="assets/img/shape/shape1.png" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape-img4"><img src="assets/img/shape/shape4.svg" alt="image"></div>
</section>
<!-- End About Area -->

<!-- Start Services Area -->
<section class="services-section bg-f2f6f9 ptb-110">
    <div class="container">
        <div class="section-title">
            <h2>We Offer Professional Solutions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>

        <div class="tab services-tab-list">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <ul class="tabs">
                        <li><a href="#">
                                <i class="flaticon-income"></i>
                                Data Analysis
                            </a></li>

                        <li><a href="#">
                                <i class="flaticon-automatic"></i>
                                Automation Optimization
                            </a></li>

                        <li><a href="#">
                                <i class="flaticon-locked"></i>
                                Security & Surveillance
                            </a></li>

                        <li><a href="#">
                                <i class="flaticon-molecular"></i>
                                Health & Manufacturing
                            </a></li>

                        <li><a href="#">
                                <i class="flaticon-gear"></i>
                                Software Engineers
                            </a></li>

                        <li><a href="#">
                                <i class="flaticon-ceo"></i>
                                IT Professional
                            </a></li>
                    </ul>
                </div>

                <div class="col-lg-8 col-md-8">
                    <div class="tab-content">
                        <div class="tabs-item">
                            <div class="image">
                                <img src="assets/img/services-img1.png" alt="image">
                            </div>
                            <div class="content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomized words which
                                    don't look even slightly believable. If you are
                                    going to use a passage.</p>
                                <a routerLink="/project-details" class="btn btn-primary">Read More</a>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="image">
                                <img src="assets/img/services-img1.png" alt="image">
                            </div>
                            <div class="content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomized words which
                                    don't look even slightly believable. If you are
                                    going to use a passage.</p>
                                <a routerLink="/project-details" class="btn btn-primary">Read More</a>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="image">
                                <img src="assets/img/services-img1.png" alt="image">
                            </div>
                            <div class="content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomized words which
                                    don't look even slightly believable. If you are
                                    going to use a passage.</p>
                                <a routerLink="/project-details" class="btn btn-primary">Read More</a>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="image">
                                <img src="assets/img/services-img1.png" alt="image">
                            </div>
                            <div class="content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomized words which
                                    don't look even slightly believable. If you are
                                    going to use a passage.</p>
                                <a routerLink="/project-details" class="btn btn-primary">Read More</a>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="image">
                                <img src="assets/img/services-img1.png" alt="image">
                            </div>
                            <div class="content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomized words which
                                    don't look even slightly believable. If you are
                                    going to use a passage.</p>
                                <a routerLink="/project-details" class="btn btn-primary">Read More</a>
                            </div>
                        </div>

                        <div class="tabs-item">
                            <div class="image">
                                <img src="assets/img/services-img1.png" alt="image">
                            </div>
                            <div class="content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, or randomized words which
                                    don't look even slightly believable. If you are
                                    going to use a passage.</p>
                                <a routerLink="/project-details" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img1"><img src="assets/img/shape/shape1.png" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape-img2"><img src="assets/img/shape/shape2.svg" alt="image"></div>
    <div class="shape-img5"><img src="assets/img/shape/shape5.svg" alt="image"></div>
    <div class="shape-img4"><img src="assets/img/shape/shape4.svg" alt="image"></div>
    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot3.png" alt="image"></div>
</section>
<!-- End Services Area -->

<!-- Start Fun Facts Area -->
<section class="fun-facts-area ptb-110">
    <div class="container">
        <div class="section-title">
            <h2>We completed 2500+ Projects Yearly Successfully & counting</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-6 col-sm-3 col-md-3">
                <div class="single-funfacts">
                    <h3><span class="odometer" data-count="5000">00</span><span class="sign-icon">+</span></h3>
                    <p>Downloaded</p>
                </div>
            </div>

            <div class="col-lg-3 col-6 col-sm-3 col-md-3">
                <div class="single-funfacts">
                    <h3><span class="odometer" data-count="3000">00</span><span class="sign-icon">+</span></h3>
                    <p>Feedback</p>
                </div>
            </div>

            <div class="col-lg-3 col-6 col-sm-3 col-md-3">
                <div class="single-funfacts">
                    <h3><span class="odometer" data-count="500">00</span><span class="sign-icon">+</span></h3>
                    <p>Workers</p>
                </div>
            </div>

            <div class="col-lg-3 col-6 col-sm-3 col-md-3">
                <div class="single-funfacts">
                    <h3><span class="odometer" data-count="70">00</span><span class="sign-icon">+</span></h3>
                    <p>Contributors</p>
                </div>
            </div>
        </div>

        <div class="contact-cta-box">
            <h3>Have any question about us?</h3>
            <p>Don't hesitate to contact us.</p>

            <a href="#" class="btn btn-primary">Contact Us<span></span></a>
        </div>
    </div>

    <div class="shape-map1"><img src="assets/img/map.png" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape-img2"><img src="assets/img/shape/shape2.svg" alt="image"></div>
    <div class="shape-img5"><img src="assets/img/shape/shape5.svg" alt="image"></div>
    <div class="shape-img4"><img src="assets/img/shape/shape4.svg" alt="image"></div>
    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot3.png" alt="image"></div>
</section>
<!-- End Fun Facts Area -->

<!-- Start Projects Area -->
<section class="projects-area pt-0 ptb-110">
    <div class="container">
        <div class="section-title">
            <h2>Proud Projects That Make Us Stand Out</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="projects-slides owl-carousel owl-theme">
            <div class="single-projects-box">
                <img src="assets/img/projects-img1.jpg" alt="image">
                <div class="plus-icon">
                    <a routerLink="/project-details">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-projects-box">
                <img src="assets/img/projects-img2.jpg" alt="image">
                <div class="plus-icon">
                    <a routerLink="/project-details">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-projects-box">
                <img src="assets/img/projects-img3.jpg" alt="image">
                <div class="plus-icon">
                    <a routerLink="/project-details">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-projects-box">
                <img src="assets/img/projects-img4.jpg" alt="image">
                <div class="plus-icon">
                    <a routerLink="/project-details">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="single-projects-box">
                <img src="assets/img/projects-img5.jpg" alt="image">
                <div class="plus-icon">
                    <a routerLink="/project-details">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="circle-shape1"><img src="assets/img/projects-shape.png" alt="image"></div>
</section>
<!-- End Projects Area -->

<!-- Start Pricing Area -->
<section class="pricing-area ptb-110 pt-0">
    <div class="container">
        <div class="section-title">
            <h2>Our Pricing Plan</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>

        <div class="tab pricing-tab bg-color">
            <ul class="tabs">
                <li><a href="#">
                        Monthly Plan
                    </a></li>
                <li><a href="#">
                        Yearly Plan
                    </a></li>
            </ul>

            <div class="tab-content">
                <div class="tabs-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Free</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>
                                <div class="price">
                                    $0 <span>/m</span>
                                </div>
                                <div class="buy-btn">
                                    <a routerLink="/" class="btn btn-primary">Get Started Free</a>
                                </div>
                                <ul class="pricing-features">
                                    <li><i class='flaticon-tick'></i> Drag & Drop Builder</li>
                                    <li><i class='flaticon-tick'></i> Lead Generation & Sales</li>
                                    <li><i class='flaticon-tick'></i> Boot & Digital Assistants</li>
                                    <li><i class='flaticon-tick'></i> Customer Service</li>
                                    <li><i class='flaticon-tick'></i> Up to 1000 Subscribers</li>
                                    <li><i class='flaticon-tick'></i> Unlimited Broadcasts</li>
                                    <li><i class='flaticon-tick'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box active">
                                <div class="pricing-header">
                                    <h3>Pro</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>
                                <div class="price">
                                    $149 <span>/m</span>
                                </div>
                                <div class="buy-btn">
                                    <a routerLink="/" class="btn btn-primary">Start 3 Days Free Trial</a>
                                </div>
                                <ul class="pricing-features">
                                    <li><i class='flaticon-tick'></i> Drag & Drop Builder</li>
                                    <li><i class='flaticon-tick'></i> Lead Generation & Sales</li>
                                    <li><i class='flaticon-tick'></i> Boot & Digital Assistants</li>
                                    <li><i class='flaticon-tick'></i> Customer Service</li>
                                    <li><i class='flaticon-tick'></i> Up to 3300 Subscribers</li>
                                    <li><i class='flaticon-tick'></i> Unlimited Broadcasts</li>
                                    <li><i class='flaticon-tick'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Premium</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>
                                <div class="price">
                                    $179 <span>/m</span>
                                </div>
                                <div class="buy-btn">
                                    <a routerLink="/" class="btn btn-primary">Start 6 Days Free Trial</a>
                                </div>
                                <ul class="pricing-features">
                                    <li><i class='flaticon-tick'></i> Drag & Drop Builder</li>
                                    <li><i class='flaticon-tick'></i> Lead Generation & Sales</li>
                                    <li><i class='flaticon-tick'></i> Boot & Digital Assistants</li>
                                    <li><i class='flaticon-tick'></i> Customer Service</li>
                                    <li><i class='flaticon-tick'></i> Up to 10000 Subscribers</li>
                                    <li><i class='flaticon-tick'></i> Unlimited Broadcasts</li>
                                    <li><i class='flaticon-tick'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs-item">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Free</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>
                                <div class="price">
                                    $0 <span>/y</span>
                                </div>
                                <div class="buy-btn">
                                    <a routerLink="/" class="btn btn-primary">Get Started Free</a>
                                </div>
                                <ul class="pricing-features">
                                    <li><i class='flaticon-tick'></i> Drag & Drop Builder</li>
                                    <li><i class='flaticon-tick'></i> Lead Generation & Sales</li>
                                    <li><i class='flaticon-tick'></i> Boot & Digital Assistants</li>
                                    <li><i class='flaticon-tick'></i> Customer Service</li>
                                    <li><i class='flaticon-tick'></i> Up to 1000 Subscribers</li>
                                    <li><i class='flaticon-tick'></i> Unlimited Broadcasts</li>
                                    <li><i class='flaticon-tick'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="pricing-box active">
                                <div class="pricing-header">
                                    <h3>Pro</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>
                                <div class="price">
                                    $249 <span>/y</span>
                                </div>
                                <div class="buy-btn">
                                    <a routerLink="/" class="btn btn-primary">Start 3 Days Free Trial</a>
                                </div>
                                <ul class="pricing-features">
                                    <li><i class='flaticon-tick'></i> Drag & Drop Builder</li>
                                    <li><i class='flaticon-tick'></i> Lead Generation & Sales</li>
                                    <li><i class='flaticon-tick'></i> Boot & Digital Assistants</li>
                                    <li><i class='flaticon-tick'></i> Customer Service</li>
                                    <li><i class='flaticon-tick'></i> Up to 3300 Subscribers</li>
                                    <li><i class='flaticon-tick'></i> Unlimited Broadcasts</li>
                                    <li><i class='flaticon-tick'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                            <div class="pricing-box">
                                <div class="pricing-header">
                                    <h3>Premium</h3>
                                    <p>Get your business up <br>and running</p>
                                </div>
                                <div class="price">
                                    $279 <span>/y</span>
                                </div>
                                <div class="buy-btn">
                                    <a routerLink="/" class="btn btn-primary">Start 6 Days Free Trial</a>
                                </div>
                                <ul class="pricing-features">
                                    <li><i class='flaticon-tick'></i> Drag & Drop Builder</li>
                                    <li><i class='flaticon-tick'></i> Lead Generation & Sales</li>
                                    <li><i class='flaticon-tick'></i> Boot & Digital Assistants</li>
                                    <li><i class='flaticon-tick'></i> Customer Service</li>
                                    <li><i class='flaticon-tick'></i> Up to 10000 Subscribers</li>
                                    <li><i class='flaticon-tick'></i> Unlimited Broadcasts</li>
                                    <li><i class='flaticon-tick'></i> Landing Pages & Web Widgets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img2"><img src="assets/img/shape/shape2.svg" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape-img5"><img src="assets/img/shape/shape5.svg" alt="image"></div>
    <div class="shape-img7"><img src="assets/img/shape/shape3.png" alt="image"></div>
</section>
<!-- End Pricing Area -->

<!-- Start Testimonials Area -->
<section class="testimonials-area ptb-110">
    <div class="container">
        <div class="section-title">
            <h2>What Clients Say About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>

        <div class="testimonials-slides owl-carousel owl-theme">
            <div class="single-testimonials-item">
                <div class="client-info">
                    <img src="assets/img/author3.jpg" alt="image">
                    <h3>Sarah Taylor</h3>
                    <span>CEO at Envato</span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit. Accusantium
                    veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit corporis!</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>

            <div class="single-testimonials-item">
                <div class="client-info">
                    <img src="assets/img/author1.jpg" alt="image">
                    <h3>Steven Smith</h3>
                    <span>CEO at Envato</span>
                </div>
                <p>Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit
                    corporis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit.</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>

            <div class="single-testimonials-item">
                <div class="client-info">
                    <img src="assets/img/author2.jpg" alt="image">
                    <h3>James Eva</h3>
                    <span>CEO at Envato</span>
                </div>
                <p>Accusantium veritatis dolore ducimus illum, cumque excepturi, autem rerum illo amet placeat odit
                    corporis! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid ullam harum sit.</p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img1"><img src="assets/img/shape/shape1.png" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape-img2"><img src="assets/img/shape/shape2.svg" alt="image"></div>
    <div class="shape-img5"><img src="assets/img/shape/shape5.svg" alt="image"></div>
    <div class="shape-img4"><img src="assets/img/shape/shape4.svg" alt="image"></div>
    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot3.png" alt="image"></div>
</section>
<!-- End Testimonials Area -->

<!-- Start Blog Area -->
<section class="blog-area ptb-110">
    <div class="container">
        <div class="section-title">
            <h2>Our Recent Story</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="entry-thumbnail">
                        <a routerLink="/blog-details"><img src="assets/img/blog/blog1.jpg" alt="image"></a>
                    </div>
                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a routerLink="/">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                        </div>
                        <h3><a routerLink="/blog-details">Making Peace With The Feast Or Famine Of Freelancing</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a routerLink="/blog-details" class="learn-more-btn">Read Story <i class="flaticon-add"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="entry-thumbnail">
                        <a routerLink="/blog-details"><img src="assets/img/blog/blog2.jpg" alt="image"></a>
                    </div>
                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a routerLink="/">Admin</a></li>
                                <li>August 18, 2019</li>
                            </ul>
                        </div>
                        <h3><a routerLink="/blog-details">I Used The Web For A Day On A 50 MB Budget</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a routerLink="/blog-details" class="learn-more-btn">Read Story <i class="flaticon-add"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-blog-post">
                    <div class="entry-thumbnail">
                        <a routerLink="/blog-details"><img src="assets/img/blog/blog3.jpg" alt="image"></a>
                    </div>
                    <div class="entry-post-content">
                        <div class="entry-meta">
                            <ul>
                                <li><a routerLink="/">Admin</a></li>
                                <li>August 15, 2019</li>
                            </ul>
                        </div>
                        <h3><a routerLink="/blog-details">Here are the 5 most telling signs of micromanagement</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod...</p>
                        <a routerLink="/blog-details" class="learn-more-btn">Read Story <i class="flaticon-add"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img2"><img src="assets/img/shape/shape2.svg" alt="image"></div>
    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="shape-img4"><img src="assets/img/shape/shape4.svg" alt="image"></div>
    <div class="shape-img5"><img src="assets/img/shape/shape5.svg" alt="image"></div>
    <div class="shape-img7"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot3.png" alt="image"></div>
    <div class="dot-shape4"><img src="assets/img/shape/dot4.png" alt="image"></div>
    <div class="dot-shape5"><img src="assets/img/shape/dot5.png" alt="image"></div>
    <div class="dot-shape6"><img src="assets/img/shape/dot6.png" alt="image"></div>
</section>
<!-- End Blog Area -->

<!-- Start Free Trial Area -->
<section class="free-trial-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="free-trial-img">
                    <img src="assets/img/free-trial-img.png" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="free-trial-text">
                    <h2>Start your free trial</h2>
                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Enter your business email here">
                        <button type="submit">Sign Up Free</button>
                    </form>
                    <p>Test out the Machine Learning features for 14 days, no credit card required.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img3"><img src="assets/img/shape/shape3.png" alt="image"></div>
    <div class="dot-shape2"><img src="assets/img/shape/dot3.png" alt="image"></div>
</section>
<!-- End Free Trial Area -->

<!-- Start Partner Area -->
<section class="partner-section ptb-110">
    <div class="container">
        <div class="partner-slides owl-carousel owl-theme">
            <div class="single-partner-item">
                <a href="#">
                    <img src="assets/img/partner/partner1.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="assets/img/partner/partner2.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="assets/img/partner/partner3.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="assets/img/partner/partner1.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="assets/img/partner/partner2.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="assets/img/partner/partner3.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="assets/img/partner/partner1.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="assets/img/partner/partner2.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="assets/img/partner/partner3.png" alt="image">
                </a>
            </div>
        </div>
    </div>

    <div class="dot-shape1"><img src="assets/img/shape/dot1.png" alt="image"></div>
    <div class="shape-img2"><img src="assets/img/shape/shape2.svg" alt="image"></div>
    <div class="shape-img4"><img src="assets/img/shape/shape4.svg" alt="image"></div>
    <div class="shape-img5"><img src="assets/img/shape/shape5.svg" alt="image"></div>
</section>
<!-- End Partner Area -->
