<!-- Start Page Title Area -->
<!-- <div class="page-title-area item-bg2">
    <div class="container">
        <div class="page-title-content">
            <h2>Airtime Topup</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Topup airtime</li>
            </ul>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div> -->
<!-- End Page Title Area -->

<!-- Start Services Details Area -->
<br>
<section class="services-details-area ptb-110">
    <div class="container">
        <div class="services-details-overview">
            <div class="services-details-image wow fadeInUp">
                <img src="assets/img/services-details/services-details1.jpg" alt="image">
            </div>
            
            <div class="services-details-desc">
                <h3>Complete the Airtime Topup Form</h3>
                <form [formGroup]="airtimeForm" (ngSubmit)="topupFormSubmit(airtimeForm.value)">
                  
                    <!-- <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example" formControlName="network">
                            <option value="0" selected>Auto</option>
                            <option value="4">MTN Ghana</option>
                            <option value="6">Vodafone Ghana</option>
                            <option value="1">Airtel Ghana</option>
                            <option value="5">Tigo Ghana</option>
                            <option value="3">Glo Ghana</option>
                        </select>
                        <label for="floatingSelect">Select Network Operator</label>
                    </div> -->

                    <div class="form-floating mb-3">
                        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Select Network</option>
                            <option value="0">Auto</option>
                            <option value="4">MTN</option>
                            <option value="6">Vodafone</option>
                            <option value="1">Airtel</option>
                            <option value="3">Tigo</option>
                            <option value="4">Glo</option>
                        </select>
                        <label for="floatingSelect">Network Operators</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" 
                               class="form-control" 
                               id="floatingInput"
                               formControlName="recipientNumber"
                               placeholder="e.g. 01234567890">
                        <label for="recipientNumber">10 Digit Recipient Number e.g. 0200000000</label>
                    </div>
                    <!-- <div class="form-floating mb-3">
                        <input type="text" 
                               class="form-control" 
                               id="floatingInput" 
                               formControlName="description"
                               placeholder="{{topupParams.description}} Mum."
                               value="{{topupParams.description}}">
                        <label for="description">Optional description (e.g. Mother)</label>
                    </div> -->
                    <div class="form-floating">
                        <input type="number" 
                               class="form-control" 
                               id="floatingInput" 
                               formControlName="amount"
                               placeholder="Amount">
                        <label for="floatingInput">GH¢ 1 - 50 Amount </label>
                    </div>

                    <button type="submit" 
                            class="btn btn-primary btn-sm mt-2"
                            id="recharge">
                            Proceed to Recharge
                        </button>
                    <button type="button" 
                            disabled
                            class="btn btn-primary btn-sm mt-2"
                            id="loading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                </form><br><br>
                <!-- <p>
                    Topup and be rewarded with royalty points on this app. 
                    Points can be redeemed in form of Cash, Airtime, Data, Fuel, Bill Payment, Free Travel and many more...
                </p> -->
            </div>

         
        </div>
    </div>
</section>
<!-- End Services Details Area -->